body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/879/823/non_2x/abstract-soft-pink-background-modern-and-clean-banner-landing-page-concept-with-pastel-color-free-vector.jpg");
}

header {
    background:black;
    color: black;
    padding: 16px;
    text-align:end;
}

header nav ul li {
    display: inline;
    margin: 10px;
}

header nav ul li a {
    color:#fff;
    text-decoration: none;
}

section {
    padding: 30px;
    margin: 30px;
}

section#home {
    background: #f8e1f4;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #555; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 50px; 
    margin: 20px; 
}


section#projects .project {
    background: #f8e1f4;
    text-align:start;
    box-sizing: border-box;
    border: 2px solid #555; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    margin: 20PX; 
    align-items: center;
}

form {
    background: #f8e1f4;
    text-align:center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/879/823/non_2x/abstract-soft-pink-background-modern-and-clean-banner-landing-page-concept-with-pastel-color-free-vector.jpg");
    padding: 10px; 
    margin: 20PX; 
    align-items: center;
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: #333;
    padding: 20px;
}

#projects {

    background-image: url("https://static.vecteezy.com/system/resources/previews/005/879/823/non_2x/abstract-soft-pink-background-modern-and-clean-banner-landing-page-concept-with-pastel-color-free-vector.jpg");
}

.content {
    max-width: 800px;
}

.project {
    display: flex;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/879/823/non_2x/abstract-soft-pink-background-modern-and-clean-banner-landing-page-concept-with-pastel-color-free-vector.jpg");
}

.project img {
    width: 300px; /* Adjust image width as needed */
    height: auto;
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-top: 0;
}

.project-info p {
    margin-bottom: 10px;
}

.project-info a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
